.why-agent, .steps {
    padding: 40px 0;
    text-align: center;
}

.why-agent h2, .steps h2 {
    font-size: 28px;
    margin-bottom: 20px;
}

.reasons {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
}

.reason {
    flex: 1 1 calc(50% - 20px);
    max-width: calc(50% - 20px);
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
    text-align: center;
    transition: transform 0.3s ease;
    background-color: #5ebc67;
}

.reason:hover {
    transform: translateY(-5px);
}

.reason img {
    width: 50px;
    height: 50px;
    margin-bottom: 10px;
}

.reason h3 {
    font-size: 20px;
    margin-bottom: 10px;
    color: #152232;
}

.reason p {
    font-size: 16px;
    color: #333;
}



.steps {
    text-align: left;
}
.steps h2{
    color: #152232;
    text-align: center;
}
.step {
    background-color: #152232;
    display: flex;
    align-items: flex-start;
    margin-bottom: 20px;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.step img {
    width: 100px;
    height: 100px;
    margin-right: 20px;
}

.step-text {
    max-width: 800px;
}

.step-text h3 {
    margin: 0 0 10px;
    color: white;
}

.step-text p {
    margin: 0;
    color: white;
}

.contact-button {
    background-color: #5ebc67;
    border: none;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 5px;
}

.contact-button:hover {
    background-color: #46a255;
}

.icons img {
    width: 24px;
    height: 24px;
    margin: 0 5px;
}
