.reviews-section {
    max-width: 1200px;
    padding: 60px 0;
}

.review-form-container {
    background-color: #152232;
    color: white;
    padding: 30px;
    border-radius: 10px;
    margin-bottom: 40px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
    width: 100%;
}

.review-form-container h2 {
    font-size: 24px;
    margin-bottom: 20px;
    color: #5ebc67;
}

.review-form {
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.top-review {
    display: flex;
    gap: 10px;
}

.top-review input[type="text"] {
    flex: 1;
}

.review-form input[type="text"],
.review-form textarea {
    margin-bottom: 10px;
    background-color: transparent;
    padding: 10px 20px;
    border-radius: 20px;
    border: 2px solid #5ebc67;
    color: #5ebc67;
    font-size: 16px;
    transition: border-color 0.3s;
}

.review-form input[type="text"]::placeholder,
.review-form textarea::placeholder {
    color: #5ebc67;
    font-weight: 700;
}

.review-form input[type="text"]:focus,
.review-form textarea:focus {
    border-color: #5ebc67;
    outline: none;
}

.review-form textarea {
    height: 150px;
}

.review-form button {
    background-color: #5ebc67;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 25px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.review-form button:hover {
    background-color: #41864a;
}

.review-form button:focus {
    outline: none;
}

.review-form .clear-button {
    background-color: #5ebc67
}

.review-form .clear-button:hover {
    background-color: #41864a;
}

.review-form .button-container {
    display: flex;
    justify-content: space-between;
}

.reviews-list {
    list-style: none;
    padding: 0;
}

.review-item {
    background-color: #152232;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
    transition: transform 0.3s, box-shadow 0.3s;
}

.review-item:hover {
    transform: translateY(-5px);
    box-shadow: 0 0 25px rgba(0, 0, 0, 0.15);
}

.review-item h3 {
    font-size: 20px;
    color: #fff;
    margin-bottom: 10px;
}

.review-item p {
    font-size: 16px;
    color: #5ebc67;
    line-height: 1.5;
}

.review-item .review-date {
    font-size: 14px;
    color: #41864a;
    margin-top: 10px;
}

.success-message {
    display: none;
    color: #5ebc67;
    font-size: 16px;
    margin-top: 10px;
}
